// Navigation code here

.navigation-row {
    .flexcenter;
    width: 800px;
    margin: 0 auto;
    flex-direction: column;

    .spacewalkers {
        .flexcenter;
        font-size: 4rem;
        margin-bottom: 1%;
    }

    .navigation {
        .flexcenter;    
        text-decoration: none;
        border: 1px red dotted;
        
        
   
    }

    nav a {
        text-decoration: none;
        color: black;
        font-size: 1.6em;
        justify-content: center;
        
    }

}